
	body { background-color:#808080; background-image:url('http://tshirtosaurus.com/rsc/images/background.gif'); background-position:center; background-repeat:no-repeat; }
	p {  color:#99FFCC;  }
	.tinytext{ color:#FFFFFF; }